button {
    background-color: $Light-Grayish-Blue;
    border: none;
    border-radius: 50%;
    padding: 10px;

    :hover {
        cursor: pointer;

    }

    svg {
        fill: $Desaturated-Dark-Blue;
    }

}

.click {
    background-color: $Grayish-Blue;
    fill: $white;
}

@media (min-width: 775px) {
    .click {
        background-color: $Very-Dark-Grayish-Blue;
    }
}